# Network
UTXO_BASED_CHAIN_NAME=BitcoinTestnet3
UTXO_BASED_CHAIN_PRIVATE_KEY=
UTXO_BASED_CHAIN_ADDRESS_TYPE=P2WPKH

# CKB
CKB_SECP256K1_PRIVATE_KEY=0x

# RGB++ btc-assets-api
BTC_ASSETS_API_URL=https://api-testnet.rgbpp.com
BTC_ASSETS_API_TOKEN=
BTC_ASSETS_API_ORIGIN=

# RGB++ UDT script / cell dep
UDT_CODE_HASH=0x
UDT_HASH_TYPE=type
UDT_CELL_DEP_TX_HASH=0x
UDT_CELL_DEP_INDEX=0

# Transfer
RGBPP_RECEIVER_BTC_ADDRESS=
RGBPP_TRANSFER_AMOUNT=1
RGBPP_FEE_RATE=28
RGBPP_BROADCAST=false
